 *{
  margin: 0px;
  padding: 0px;
}

.navbar {
  height:10vh;
  width:100%;
  background-color: #ffffff;
  position: sticky;
  top: 0px;
}

.navbar img {
  height:10vh;
}

.navbar ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7em;
  font-family: Seoge UI, Helvetica, sans-serif;
}

.mainbox {
  height:90vh;
  width:90%;
  background-color: #00d684;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box1 {
  height:60vh;
  width:40%;
  background-color: #ed5858;
}

.box2 {
  height:60vh;
  width:40%;
  background-color: #5151f0;
}

.textbox {
  margin: 10vh 10%;
  height:20vh;
  width: 80%;
  border: 5px solid black;
  border-radius: 30px;
  color: black;
  text-align: center;
  padding-top: 10vh;
}

.icon {
  height:50px;
  width: 50px;
  border-radius: 50%;
  background-color: darkorange;
  position: fixed;
  right: 5px;
  bottom:5px;
}

.footer {
  height:5vh;
  width:100%;
  background-color: #000000;
}